<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find onrobot_description)/urdf/onrobot_macro.xacro"/>
  <xacro:onrobot onrobot_type="$(arg onrobot_type)" prefix="$(arg prefix)"/>

  <xacro:macro name="ur3e_rg2" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

  <joint name="$(arg prefix)onrobot_base_link_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="$(arg prefix)tool0"/>
    <child link="$(arg prefix)onrobot_base_link"/>
  </joint>


    <!--This will create the specific robot-->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}_"
      parent="world"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>
  </xacro:macro>

</robot>