<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3e_rg2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur3e_rg2 urdf file -->
    <xacro:include filename="$(find ur3e_rg2_description)/urdf/ur3e_rg2.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur3e_rg2.ros2_control.xacro" />


    <xacro:ur3e_rg2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
